body{
    margin-left: 40%;
    border: 20px;
    border-width: 20px;
    border-radius: 6px solid black;
    
}

.todo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 40px;


}
#Input-task{
    margin-top: 50px;
}
